ion-content {
    --background: #ffffff; /* Fondo blanco */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .map-container {
    width: 100%;
    height: 200px;
    margin: 20px 0;
  }
  
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  ion-item {
    --inner-padding-top: 10px;
    --inner-padding-bottom: 10px;
    --border-radius: 10px;
    --border-width: 2px;
    --border-color: var(--primary-color); /* Bordes morados */
    margin: 10px 0;
    --background: white; /* Fondo blanco */
    --color: black; /* Texto negro */
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .cancel-button {
    width: 60%;
    border: 2px solid var(--primary-color); /* Borde rojo elegante */
    background-color: white; /* Fondo blanco */
    color: var(--primary-color); /* Texto rojo */
    font-size: 1.2rem; /* Tamaño de fuente ligeramente mayor */
    border-radius: 30px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar un toque elegante */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .cancel-button:hover {
    background-color: #ff4d4d; /* Fondo rojo al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
    border: 2px solid #ff4d4d; /* Borde sigue siendo rojo */
  }
  
  .cancel-button:active {
    transform: scale(0.98); /* Pequeña animación al hacer clic */
  }
  
  h2 {
    margin: 10px 0;
    color: black; /* Textos en negro */
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  