ion-content {
    --background: #ffffff;
  }
  ion-menu {
    --width: 300px; 
  }
  
  ion-item {
    --border-radius: 20px; 
    --border-width: 2px; 
    --border-color: #800080; 
    margin: 10px 0; 
    --ion-color-primary: #800080; 
  }
  
  ion-icon {
    --color: #800080; 
  }
  